@model ArticleViewModel

@{
    ViewData["title"] = "Coucou";
}

@Model.Name 
@Model.ISBN
@Model.Email
@Model.Description
<a asp-controller="Article"
   asp-action="Edit" asp-route-id="@Model.Id">Edit</a>